@charset "utf-8";
/*GENERAL LAY-OUT*/

.body-NH {
	background-image: url("../images/img/NH_wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
main {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-fluid {
	padding: 0;
}

.topbar {
	background-color: white;
	padding-top: 2em;
	padding-bottom: 1em;
}

.navbar-jen {
	padding: 0;
	margin: 0;
	align-items: flex-start;
	justify-content: flex-start;
	
	
}

.logo-home {
	margin-right: 1em;
}

.slogan {
	padding-left: 8px;
	margin: 0;
}

.navigatie {
	display: flex;
	justify-content: flex-start;
}

.tagline-nav {
	
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}

h1 {
	font-family: "Bebas Neue";
	font-weight: 600;
	
}

.h3 {
	font-family: "Bebas Neue";
	font-weight: 600;
	
}

.h5 {
	font-family: "Bebas Neue";
	font-weight: 600;
	font-size: 1.3rem; 
	margin-top: 0.5em;
	margin-bottom: 0;
	
}

.p {
	font-family: "Roboto";
	font-style: normal;
	font-size: 1em;
	margin: 0;		
}


.vet {
	font-weight: 800;
}

/*---GENERAL LAY-OUT---*/

/*HOME-PAGE*/
/*content container-1*/
.container-1 {
	display: flex;
	flex-direction: row;
	max-width: 1024px;
	margin: auto;
	margin-top: 50px;
}

.doel {
	background-color: blue;
	color: white;
	width: 35%;
	padding: 1em;
	border-radius: 8px;
	box-sizing: border-box;
	margin-right: 1em;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.slider {
	width: 65%;
	box-sizing: border-box;
	
	display: flex;
	
	align-items: center;
}

.slider2 {
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.slider div {
	position: absolute;

	.slider img {
	
	border-radius: 8px;
	width: 100%;}

/*content container-2*/
.container-2 {
	display: flex;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

.wat {
	width: 35%;
	box-sizing: border-box;
	margin-right: 1em;
	background-color: white;
	padding: 1em;
	border-radius: 8px;
}

/*container-2: buttons*/
.wrapper-buttons {
	width: 65%;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.wrapper-buttons img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.ruiter {
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0.2em 0.2em 0.2em grey);
}

.eigenaar {
	display: flex;
	flex-direction: column;
	margin-right: 2em;
	filter: drop-shadow(0.2em 0.2em 0.2em grey);
}

.button {
	border: none;
	padding: 8px 12px;
	background-color: #A80205;
	color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
}

.button:hover {
	background-color: blue;
}

.button h2 {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.button p {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}

.button-ruiter {
	background-color: darkorange;
}

.button-ruiter:hover {
	background-color: blue;
}
/*spotlight section*/
.spotlight {
	background-color: aliceblue;
	padding-top: 2em;
	margin-top: 2em;
	text-align: center;
}

.spotlight h1 {
	font-family: "Bebas Neue";
	margin-bottom: 1.5rem;
}

.container-spotlight {
	padding-bottom: 2rem;
	
}

.card h5{
	font-family: "Bebas Neue";
}
.card-1 {
	
	margin-right: 0.5em;
	
}

.card-2 {
	margin-left: 0.5em;
}

.card-button {
	border: none;
}

.card-button:hover {
	background-color: darkorange;
}
/*---HOME-PAGE---*/

/*TEAM-PAGE*/

.kernteam {
	
	margin-top: 50px;
	margin-bottom: 2em;
}

.row-descr-team {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.team-description {
	padding: 1em;
	background-color: blue;
	color: white;
	border-radius: 8px;
	max-width: 744px;

}

.team-rij {
	margin-bottom: 1em;
	flex-wrap: wrap;
}
.cont-teamlid {
	padding: 0;
}

.teamlid {
	background-color: aliceblue;
	border-radius: 8px;
	padding: 1em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	height: 100%;
	max-width: 174px;
}

.teamlid-foto {
	width: 100%;
}

.wrapper-regiointro {
	max-width: 634px;
	background-color: blue;
	border-radius: 8px;
	padding: 1em;
	color: white;
	margin-right: 1em;
	
}

.wrapper-regiointro-col {
	
	background-color: blue;
	border-radius: 8px;
	padding: 1em;
	color: white;
	
	
}

.kernteam-intro {
	background-color: blue;
	color: white;
	padding: 1em;
	border-radius: 8px;
	
}

.wrapper-regiocontact {
	width: 200px;
	background-color: white;
	padding: 1em;
	border-radius: 8px;
}

.wrapper-regiocontact-col {
	height: 100%;
	background-color: white;
	padding: 1em;
	border-radius: 8px;
}

.p-teamlid {
	margin-top: 0.75em;
}

.kolom {
	padding: 0.5em;
}

.wrapper-1 {
	display: flex;
	justify-content: center;
}
.wrapper-regioteam {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.hoofd {
	display: flex;
	flex-direction: row;
}

.social {
	background-color: white;
	height: 100%;
	border-radius: 8px;
	padding: 1em 0;
}

.regio-intro {
	width: 100%;
	background-color: blue;
	color: white;
}

.regio-teamlid {
	max-width: 200px;
	background-color: aliceblue;
	border-radius: 8px;
	padding: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 1em;
}

.regio-teamlid-col {
	height: 100%;
	background-color: aliceblue;
	border-radius: 8px;
	padding: 1em;

}

.regio-teamlid-col img {
	width: 100%;
	
}

.functie {
	font-style: oblique;
}

/*---TEAM-PAGE---*/

/*REGIO'S*/
.teamlid-nh {
	background-color: aliceblue;
	display: flex;
	padding: 1em;
	border-radius: 8px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.regiolid-foto {
	height: 100%;
	margin-right: 1em;
}

/*AANMELDEN-PAGE*/

.gemeenschap {
	box-sizing: border-box;
	color: white;
	background-color: blue;
	padding: 1em;
	border-radius: 8px;
	margin-bottom: 1em;
}

.linkopblauw {
	color: paleturquoise;
	text-decoration: underline;
}

.linkopblauw:hover {
	color: orange;
}

.img-fokker {
	border-radius: 8px;
}

.main-form {
	margin-top: 50px;
	margin-bottom: 2em;
}

.formulier {
	padding: 2em;
	background-color: white;
	border-radius: 8px;
}

.form-check-row {
	margin-right: 1em;
	width: 33%;
	font-size: 0.75em;
}

.rij {
	margin-bottom: 0.5em;
}

#dier {
	margin-left: 2em;
}
.wn {
	margin-right: 0.5em;
	
}

.wn-10 {
	width: 10%;
}
.wn-20 {
	width: 20%;
}
.wn-25 {
	width: 25%;
}

.wn-30 {
	width: 30%;
}

.wn-35 {
	width: 35%;
}
.wn-40 {
	width: 40%;
}

.wn-50 {
	width: 50%;
}

.wn-60 {
	width: 60%;
}
.wn-70 {
	width: 70%;
}
.wn-75 {
	width: 75%;
}

.wn-80 {
	width: 80%
}

.wn-rlg {
	margin-right: 3em;
}

label.form-check-label {
	width: 100%;
}


/*---AANMELDEN-PAGE---*/

/*FOOTER*/
.footer {
	background-color: white;
	display: flex;
}



/*FOOTER SECTION*/
footer {
	display: flex;
	flex-direction: column;
}

.copyright {
	background-color: lightgrey;
	color: white;
	text-align: center;
	padding: 0.5em;
	
}

.jbc {
	margin: 0;
	font-size: 0.75em;
}

.jbc a {
	color: orange;

}

.col-xl-1 {
	margin: auto;
}
/*FONT SECTION*/
/* latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }.teamlid-img {
}
.teamlid-foto {
}
